/* reset style start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

/* common style start */
.container {
  max-width: 1200px;
  margin: auto;
}

.btn--primary {
  background-color: #fd6e0a;
  color: #ffffff;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn--secondary {
  background-color: transparent;
  color: #fd6e0a;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
}

/* nav style start */
.nav-section {
  background-color: #fff8f3;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  font-size: 45px;
  font-weight: 800;
}

.logo__r {
  color: #fd6e0a;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #474747ff;
  font-size: 16px;
  font-weight: 400;
}

/* hero style start */
.banner-section {
  background-color: #fff8f3;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 47px;
}

.banner__subtitle {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 12px;
}

.banner__title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 34px;
}

.banner__description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.banner__buttons {
  display: flex;
  gap: 30px;
}

/* about style start */
.about-section {
  margin-top: 130px;
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 131px 157px;
}

.about__title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 36px;
}

.about__description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__container p {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.card__container h3 {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
