* {
    margin: 0px;
    padding: 0px;
}

/* common share style start */

body {
    font-family: 'Poppins', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* common share style end */

/* header related style start */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* header related style end */

/* nav related style start */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding-top: 50px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* nav related style end */

/* banner related style start */

.banner {
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

.banner-content {
    max-width: 500px;
}

.banner .banner-img {
    width: 500px;
}

.greeting-text {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 80px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-details {
    margin-bottom: 30px;
}

.btn-contact {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-left: 30px;
}

/* banner related style end */